- name: "Install Nginx onto target Ubuntu machine proxy all traffic to {dst-url}"
  hosts: all
  connection: ssh
  gather_facts: false

  vars:
    working_dir: /home/ubuntu/http
    service_user: root

  tasks:
    - name: Wait for host rechable
      ansible.builtin.wait_for_connection:
        timeout: 60
    - name: Create HTTP directory
      ansible.builtin.file:
        path: "{{ working_dir }}"
        state: "directory"
    - name: Create welcome file to serve
      copy:
        dest: "{{ working_dir }}/index.html"
        content: 'Hello World!'
    - name: Create systemd service file
      become: true
      copy:
        dest: /etc/systemd/system/python_simple_server.service
        mode: '0644'
        content: |
          [Unit]
          Description=Simple Python HTTP Server
          After=network.target
          
          [Service]
          Type=simple
          User={{ service_user }}
          WorkingDirectory={{ working_dir }}
          ExecStart=/usr/bin/python3 -m http.server 80
          Restart=always
          RestartSec=5
          
          [Install]
          WantedBy=multi-user.target
    - name: Reload systemd daemon
      become: true
      ansible.builtin.systemd_service:
        daemon_reload: true
    - name: Enable Simple Python HTTP Server
      become: true
      ansible.builtin.systemd_service:
        name: pyhon_simple_server.service
        enabled: true
    - name: Make sure Simple Python HTTP Server is running
      become: true
      ansible.builtin.systemd_service:
        name: python_simple_server.service
        state: started